# pandas / numpy

# –¶–µ–ª—å

–û–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è —Å —Ñ—É–Ω–∫—Ü–∏–æ–Ω–∞–ª–æ–º –æ—Å–Ω–æ–≤–Ω–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞—Ä–∏—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö.

In [ ]:
# ŸÖŸÉÿ™ÿ®ÿ© Pandas ŸáŸä ÿ£ÿØÿßÿ© ŸÇŸàŸäÿ© ŸàŸÅÿπÿßŸÑÿ© ŸÑŸÖÿπÿßŸÑÿ¨ÿ© ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™ Ÿàÿ™ÿ≠ŸÑŸäŸÑŸáÿß. ÿ™ÿ¨ÿπŸÑ ÿßŸÑÿ™ÿπÿßŸÖŸÑ ŸÖÿπ ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™ ÿßŸÑŸÉÿ®Ÿäÿ±ÿ© ŸàÿßŸÑŸÖÿπŸÇÿØÿ© ÿ£ŸÉÿ´ÿ± ÿ≥ŸáŸàŸÑÿ© ŸàŸÅÿπÿßŸÑŸäÿ©.
# ŸäŸÖŸÉŸÜŸÉ ÿßÿ≥ÿ™ÿÆÿØÿßŸÖŸáÿß ŸÑÿπŸÖŸÑŸäÿßÿ™ ŸÖÿ´ŸÑ ÿ™ŸÜÿ∏ŸäŸÅ ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™ÿå ÿØŸÖÿ¨Ÿáÿßÿå ÿ™ÿ≠ŸÑŸäŸÑŸáÿßÿå Ÿàÿ±ÿ≥ŸÖŸáÿß

# Pandas is a Python library for data manipulation and analysis.
# It provides data structures and functions to efficiently handle and process large datasets, including:

# * Data cleaning and preprocessing
# * Data merging and joining
# * Data filtering and sorting
# * Data grouping and aggregation
# * Data reshaping and pivoting
# * Data visualization

# Pandas is particularly useful for working with structured data, such as tabular data, time series data, and financial data.
# It's often used in combination with other popular Python libraries, such as NumPy, Matplotlib, and Scikit-learn.

# pandas

https://pandas.pydata.org/

–ë—ã—Å—Ç—Ä–∞—è —Ä–∞–±–æ—Ç–∞ —Å –∞–ª–≥–µ–±—Ä–æ–π —ç—Ç–æ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ, –æ–¥–Ω–∞–∫–æ –∑–∞–¥–∞—á–∏ –∫–æ—Ç–æ—Ä—ã–µ –º—ã –æ–±—ã—á–Ω–æ –ø—ã—Ç–∞–µ–º—Å—è —Ä–µ—à–∏—Ç—å –≤ —Ä–µ–∞–ª—å–Ω–æ–π –∂–∏–∑–Ω–∏ –Ω–µ –æ–≥—Ä–∞–Ω–∏—á–∏–≤–∞—é—Ç—Å—è –æ–¥–Ω–∏–º–∏ –ª–∏—à—å —á–∏—Å–ª–∞–º–∏. –û–±—ã—á–Ω–æ –ø—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –¥–∞–Ω–Ω—ã–º–∏ –º—ã –Ω–∞–±–ª—é–¥–∞–µ–º —á—Ç–æ –∫–∞–∂–¥—ã–π –∫—É—Å–æ—á–µ–∫ –¥–∞–Ω–Ω—ã—Ö –ø–æ–º–∏–º–æ —á–∏—Å–ª–æ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –º–æ–∂–µ—Ç –æ—Ç–Ω–æ—Å–∏—Ç—å—Å—è –∫ —Ä–∞–∑–Ω—ã–º –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º, –±—ã—Ç—å –ª–æ–≥–∏—á–µ—Å–∫–∏ –æ—Ç–¥–µ–ª–∏–º—ã–º –æ—Ç –¥—Ä—É–≥–æ–≥–æ –∫—Éc–æ—á–∫–∞ —Ç–∞–∫–∏—Ö –∂–µ –¥–∞–Ω–Ω—ã—Ö –ø–æ –Ω–∞–±–æ—Ä—É –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ ŸäŸÖŸÉŸÜ ŸÅÿµŸÑŸáÿß ŸÖŸÜÿ∑ŸÇŸäŸãÿß ÿπŸÜ ÿ¨ÿ≤ÿ° ÿ¢ÿÆÿ± ŸÖŸÜ ŸÜŸÅÿ≥ ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™ ÿ®ŸÜÿßÿ°Ÿã ÿπŸÑŸâ ŸÖÿ¨ŸÖŸàÿπÿ© ŸÖŸÜ ÿßŸÑŸÖŸäÿ≤ÿßÿ™

–¢—É—Ç –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ—è–≤–ª—è–µ—Ç—Å—è —Ç–∞–∫–æ–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç –∫–∞–∫ pandas. –û–Ω —Ä–µ–∞–ª–∏–∑—É–µ—Ç —Ä–∞–±–æ—Ç—É —Å –∫—É—Å–∫–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö. –¢–∏–ø –æ–±—ä–µ–∫—Ç–∞ —Å –¥–∞–Ω–Ω—ã–º–∏ –∫–æ—Ç–æ—Ä—ã–π –∑–∞–≥—Ä—É–∂–µ–Ω —Å –ø–æ–º–æ—â—å—é pandas –±—É–¥–µ—Ç –Ω–∞–∑—ã–≤–∞—Ç—å—è DataFrame, –∞ –æ–¥–Ω–∞ –æ—Ç–¥–µ–ª—å–Ω–∞—è –∑–∞–ø–∏—Å—å –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –±—É–¥–µ—Ç –Ω–∞–∑—ã–≤–∞—Ç—å—Å—è series.

–í–Ω—É—Ç—Ä–∏ —Å–µ–±—è pandas –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –∞–ª–≥–µ–±—Ä—É —Ä–µ–∞–ª–∏–∑–æ–≤–∞–Ω–Ω—É—é –≤ NumPy. –°–æ–±—Å—Ç–≤–µ–Ω–Ω–æ –≥–æ–≤–æ—Ä—è, pandas –∏–º–µ–µ—Ç –ø–æ–¥ —Å–æ–±–æ–π –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –≤ numpy. https://github.com/pandas-dev/pandas/blob/main/pyproject.toml#L28


–í –∫–∞—á–µ—Å—Ç–≤–µ —É–ø—Ä–∞–∂–Ω–µ–Ω–∏—è —Å pandas –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–∞–Ω—ã–µ –ø–æ –∫–æ–≤–∏–¥—É.

–ï—Å—Ç—å –±–æ–ª—å—à–æ–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –ø–æ –∑–∞–±–æ–ª–µ–≤–∞–Ω–∏—é, –µ–≥–æ –º–æ–∂–Ω–æ –æ—Ç—ã—Å–∫–∞—Ç—å –∑–¥–µ—Å—å ŸäŸÖŸÉŸÜ ÿßŸÑÿπÿ´Ÿàÿ± ÿπŸÑŸäŸáÿß ŸáŸÜÿß:: https://github.com/DataRepo2019/Data-files/blob/master/COVID-19-geographic-disbtribution-worldwide-2020-06-29.xlsx

–ï—Å—Ç—å –Ω–µ–±–æ–ª—å—à–∞—è –≤—ã—Ä–µ–∑–∫–∞ –ø–æ –Ω–µ–º—É –∑–∞ –æ–¥–∏–Ω –∏–∑ –¥–Ω–µ–π, —Å –∫–æ—Ç–æ—Ä–æ–π –º—ã –∏ –±—É–¥–µ–º —Ä–∞–±–æ—Ç–∞—Ç—å –≤ –ø–µ—Ä–≤—É—é –æ—á–µ—Ä–µ–¥—å, –æ–Ω–∞ –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤–æ—Ç –∑–¥–µ—Å—å: https://raw.githubusercontent.com/DataRepo2019/Data-files/master/subset-covid-data.csv

In [ ]:
# —Ç–∏–ø –æ–±—ä–µ–∫—Ç–∞ —Å –¥–∞–Ω–Ω—ã–º–∏ –∫–æ—Ç–æ—Ä—ã–π –∑–∞–≥—Ä—É–∂–µ–Ω —Å –ø–æ–º–æ—â—å—é pandas –±—É–¥–µ—Ç –Ω–∞–∑—ã–≤–∞—Ç—å—è DataFrame
# –∞ –æ–¥–Ω–∞ –æ—Ç–¥–µ–ª—å–Ω–∞—è –∑–∞–ø–∏—Å—å (–æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü) –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –±—É–¥–µ—Ç –Ω–∞–∑—ã–≤–∞—Ç—å—Å—è series

In [ ]:
import pandas as pd

data_frame_covid = pd.read_csv("https://raw.githubusercontent.com/DataRepo2019/Data-files/master/subset-covid-data.csv") #function read_csv takes links and files
data_frame_covid

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0
...,...,...,...,...,...,...,...,...,...,...
201,Venezuela,America,2020-04-12,12,4,2020,0,0,VEN,28870195.0
202,Vietnam,Asia,2020-04-12,12,4,2020,4,0,VNM,95540395.0
203,Yemen,Asia,2020-04-12,12,4,2020,0,0,YEM,28498687.0
204,Zambia,Africa,2020-04-12,12,4,2020,0,0,ZMB,17351822.0
205,Zimbabwe,Africa,2020-04-12,12,4,2020,3,0,ZWE,14439018.0

In [ ]:
### all this is a dataframe? and one column of them is a series? right?

# Yes, what you have is a DataFrame, which is a two-dimensional, tabular data structure commonly used in data analysis,
# particularly with libraries like Pandas in Python.
# Each row represents a record (in this case, data for a specific country on a specific date),
# and each column represents a variable (like `country`, `continent`, `cases`, etc.).

# A Series, on the other hand, is a one-dimensional array-like structure that can hold data of any type.
# It can be thought of as a single column from a DataFrame. For instance,
# if you were to extract the `cases` column from your DataFrame, that would be a Series.

# So, to summarize:
# - The entire dataset you provided is a DataFrame.
# - Each individual column (like `cases` or `country`) can be considered a Series.

In [ ]:
# indexes = ÿ®ÿßŸÑÿ¨ÿØŸàŸÑ ÿßŸÑÿ≥ÿßÿ®ŸÇ ŸÖÿ≠ÿ∑Ÿàÿ∑ÿßÿ™ ÿπÿßŸÑŸäÿ≥ÿßÿ± ŸàŸÖŸÜ 0 ŸÑŸÑ 205 ŸÑÿ£ŸÜ ŸáŸàÿß ÿπÿØÿØŸáŸÜ 206

## –æ—Å–Ω–æ–≤–Ω—ã–µ —Ç–µ—Ä–º–∏–Ω—ã –ø—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å pandas

Pandas –≤–≤–æ–¥–∏—Ç —Ä—è–¥ –Ω–æ–≤—ã—Ö —Å–ª–æ–≤ –∫–æ—Ç–æ—Ä—ã–µ –±—É–¥—É—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω—ã –ø—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –Ω–µ–π. –ò–º–µ–µ—Ç —Å–º—ã—Å–ª —Å –Ω–∏–º–∏ –æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è.

*__Series__* (—Å–µ—Ä–∏—è)- —ç—Ç–æ –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–π, –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–π (–ø–æ–º–µ—á–µ–Ω–Ω—ã–π) –º–∞—Å—Å–∏–≤ ÿ•ŸÜŸáÿß ŸÖÿµŸÅŸàŸÅÿ© ÿ£ÿ≠ÿßÿØŸäÿ© ÿßŸÑÿ®ÿπÿØÿå ŸÖÿ≥ŸÖÿßÿ© (ŸÖŸèÿ≥ŸÖŸéŸëÿßÿ©), –∫–æ—Ç–æ—Ä—ã–π –º–æ–∂–µ—Ç —Ö—Ä–∞–Ω–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –ª—é–±–æ–≥–æ —Ç–∏–ø–∞, –≤–∫–ª—é—á–∞—è —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞, —á–∏—Å–ª–∞ —Å –ø–ª–∞–≤–∞—é—â–µ–π —Ç–æ—á–∫–æ–π, —Å—Ç—Ä–æ–∫–∏ –∏ –æ–±—ä–µ–∫—Ç—ã Python.

–ë–∞–∑–æ–≤–∞—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ —Å–µ—Ä–∏–∏ —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ –¥–≤—É—Ö –∫–æ–º–ø–æ–Ω–µ–Ω—Ç–æ–≤: –¥–∞–Ω–Ω—ã—Ö –∏ –∏–Ω–¥–µ–∫—Å–∞.

–í —Å–µ—Ä–∏–∏ *__–¥–∞–Ω–Ω—ã–µ__* –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—Ç —Å–æ–±–æ–π –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–π –º–∞—Å—Å–∏–≤ NumPy, —Å–æ–¥–µ—Ä–∂–∞—â–∏–π —Ñ–∞–∫—Ç–∏—á–µ—Å–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö.

In [ ]:
# just an example of series(here we will see lables and names)
data_frame_covid.T.iloc[:,0]

# explaining  ==>  https://chat.hix.ai/ar/share/cm0g2ntwx0gey5j0qaog0rkhq
# questions   ==>  https://chat.hix.ai/ar/share/cm0g2ze600gtjlze5nspwrude

country         Afghanistan
continent              Asia
date             2020-04-12
day                      12
month                     4
year                   2020
cases                    34
deaths                    3
country_code            AFG
population       37172386.0
Name: 0, dtype: object

In [ ]:
# Question 1:
# Given the following DataFrame that contains information about different fruits:


import pandas as pd

data = {
    'Fruit': ['Apple', 'Banana', 'Cherry'],
    'Color': ['Red', 'Yellow', 'Red'],
    'Price': [1.2, 0.5, 2.0]
}
df_fruits = pd.DataFrame(data)

# data

### What is the value in the first row of the 'Color' column after transposing the DataFrame?
first_color_value = df_fruits.T.iloc[1, 0]  # Accessing the first element of the 'Color' row
print(first_color_value)

Red

In [ ]:
# find the type of series
type(data_frame_covid.T.iloc[:,0])    # == pandas.core.series.Series

pandas.core.series.Series

*__–ò–Ω–¥–µ–∫—Å__* - —ç—Ç–æ —Å—Ç—Ä—É–∫—Ç—É—Ä–∞, –ø–æ—Ö–æ–∂–∞—è –Ω–∞ –º–∞—Å—Å–∏–≤, –∫–æ—Ç–æ—Ä–∞—è –ø–æ–º–µ—á–∞–µ—Ç –∫–∞–∂–¥—ã–π —ç–ª–µ–º–µ–Ω—Ç –º–∞—Å—Å–∏–≤–∞ –¥–∞–Ω–Ω—ã—Ö ÿßŸÑÿ∞Ÿä ŸäŸÖÿ´ŸÑ ŸÉŸÑ ÿπŸÜÿµÿ± ŸÖŸÜ ÿπŸÜÿßÿµÿ± ŸÖÿ¨ŸÖŸàÿπÿ© ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™. –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –∏–Ω–¥–µ–∫—Å –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª, –Ω–∞—á–∏–Ω–∞—é—â—É—é—Å—è —Å –Ω—É–ª—è, –Ω–æ –≤—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—Ç–µ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–∏—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –º–µ—Ç–∫–∏ (–ú–µ—Ç–∫–∞ = label üè∑Ô∏è ÿßŸÑÿπŸÑÿßŸÖÿ© = ÿßŸÑÿ™ÿ≥ŸÖŸäÿ©) –¥–ª—è –∏–Ω–¥–µ–∫—Å–∞. –≠—Ç–æ –æ–±–ª–µ–≥—á–∞–µ—Ç –æ–±—Ä–∞—â–µ–Ω–∏–µ –∏ –º–∞–Ω–∏–ø—É–ª–∏—Ä–æ–≤–∞–Ω–∏–µ —ç–ª–µ–º–µ–Ω—Ç–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –æ—Å–Ω–æ–≤–µ –∏—Ö –º–µ—Ç–æ–∫.

–ß—Ç–æ–±—ã —Å–æ–∑–¥–∞—Ç—å —Å–µ—Ä–∏—é, –≤—ã –º–æ–∂–µ—Ç–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∫–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä pd.Series () –∏ –ø–µ—Ä–µ–¥–∞—Ç—å —Å–ø–∏—Å–æ–∫, —Å–ª–æ–≤–∞—Ä—å –∏–ª–∏ –º–∞—Å—Å–∏–≤ NumPy –≤ –∫–∞—á–µ—Å—Ç–≤–µ –¥–∞–Ω–Ω—ã—Ö. –í—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—Ç–µ –ø–µ—Ä–µ–¥–∞—Ç—å –Ω–µ–æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã–π –ø–∞—Ä–∞–º–µ—Ç—Ä –∏–Ω–¥–µ–∫—Å–∞, —á—Ç–æ–±—ã —É–∫–∞–∑–∞—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –º–µ—Ç–∫–∏ –¥–ª—è —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –¥–∞–Ω–Ω—ã—Ö.

In [ ]:
data_frame_covid.index    # we used .index, looooook at the result

RangeIndex(start=0, stop=206, step=1)

In [ ]:
type(data_frame_covid.index)

pandas.core.indexes.range.RangeIndex

In [ ]:
data_frame_covid.index.tolist()[:10]    # https://chat.hix.ai/ar/share/cm0hwjyyi0in57jtiqki4yu57
                                        # https://chat.hix.ai/ar/share/cm0hwp1bo0v7z14d8lwd2jqfw

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# data_frame_covid.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205]

*__DataFrame__* (–î–∞—Ç–∞–§—Ä–µ–π–º, –¢–∞–±–ª–∏—Ü–∞ –¥–∞–Ω–Ω—ã—Ö) - —ç—Ç–æ –¥–≤—É–º–µ—Ä–Ω–∞—è, –∏–∑–º–µ–Ω—è–µ–º–∞—è –≤ —Ä–∞–∑–º–µ—Ä–µ –∏ –≥–µ—Ç–µ—Ä–æ–≥–µ–Ω–Ω–∞—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ —Ç–∞–±–ª–∏—á–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö —Å –º–∞—Ä–∫–∏—Ä–æ–≤–∞–Ω–Ω—ã–º–∏ –æ—Å—è–º–∏ (—Å—Ç—Ä–æ–∫–∞–º–∏ –∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏). –ï–≥–æ –º–æ–∂–Ω–æ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å –∫–∞–∫ –∫–æ–ª–ª–µ–∫—Ü–∏—é –æ–±—ä–µ–∫—Ç–æ–≤ Series, –≥–¥–µ –∫–∞–∂–¥—ã–π —Å—Ç–æ–ª–±–µ—Ü –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π –æ–±—ä–µ–∫—Ç Series. DataFrames –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω—ã –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ —à–∏—Ä–æ–∫–æ–≥–æ —Å–ø–µ–∫—Ç—Ä–∞ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö, —á—Ç–æ –¥–µ–ª–∞–µ—Ç –µ–≥–æ —É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã–º –∏ –º–æ—â–Ω—ã–º –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–º –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ –∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö. –ë–∞–∑–æ–≤–∞—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ DataFrame —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ —Ç—Ä–µ—Ö –∫–æ–º–ø–æ–Ω–µ–Ω—Ç–æ–≤: –¥–∞–Ω–Ω—ã—Ö, –∏–Ω–¥–µ–∫—Å–∞ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤.

–í DataFrame –¥–∞–Ω–Ω—ã–µ —Ö—Ä–∞–Ω—è—Ç—Å—è –≤ –≤–∏–¥–µ –∫–æ–ª–ª–µ–∫—Ü–∏–∏ –∏–∑ –æ–¥–Ω–æ–≥–æ –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –æ–±—ä–µ–∫—Ç–æ–≤ Series, –∫–∞–∂–¥—ã–π —Å—Ç–æ–ª–±–µ—Ü –∫–æ—Ç–æ—Ä—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π –æ—Ç–¥–µ–ª—å–Ω—É—é Series. –î–∞–Ω–Ω—ã–µ –≤ –∫–∞–∂–¥–æ–π Series –º–æ–≥—É—Ç –±—ã—Ç—å —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —Ç–∏–ø–æ–≤, —Ç–∞–∫–∏—Ö –∫–∞–∫ —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞, —á–∏—Å–ª–∞ —Å –ø–ª–∞–≤–∞—é—â–µ–π —Ç–æ—á–∫–æ–π –∏–ª–∏ —Å—Ç—Ä–æ–∫–∏.

In [ ]:
type(data_frame_covid)

pandas.core.frame.DataFrame

*__–°—Ç–æ–ª–±—Ü—ã__* —è–≤–ª—è—é—Ç—Å—è —Å—Ç—Ä—É–∫—Ç—É—Ä–æ–π, –ø–æ–¥–æ–±–Ω–æ–π –º–∞—Å—Å–∏–≤—É, –∫–æ—Ç–æ—Ä–∞—è –ø–æ–º–µ—â–∞–µ—Ç –º–µ—Ç–∫—É –Ω–∞ –∫–∞–∂–¥—ã–π —Å—Ç–æ–ª–±–µ—Ü –≤ DataFrame.

ÿßŸÑÿ£ÿπŸÖÿØÿ© ÿπÿ®ÿßÿ±ÿ© ÿπŸÜ ÿ®ŸÜŸäÿ© ÿ™ÿ¥ÿ®Ÿá ÿßŸÑŸÖÿµŸÅŸàŸÅŸá ÿ™ÿ∂ÿπ ÿ™ÿ≥ŸÖŸäÿ© ÿπŸÑŸâ ŸÉŸÑ ÿπŸÖŸàÿØ ŸÅŸä DataFrame.

In [ ]:
data_frame_covid.columns

Index(['country', 'continent', 'date', 'day', 'month', 'year', 'cases',
       'deaths', 'country_code', 'population'],
      dtype='object')

In [ ]:
type(data_frame_covid.columns)

pandas.core.indexes.base.Index

In [ ]:
# –¢–∞–±–ª–∏—Ü–∞ —ç—Ç–æ –º–Ω–æ–∂–µ—Å—Ç–≤–æ —Å–µ—Ä–∏–∏, —Å–µ—Ä–∏—è —ç—Ç–æ –ø—Ä–æ—Å—Ç–æ –æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü

# –ò–Ω–¥–µ–∫—Å, —ç—Ç–æ –Ω–æ–º–µ—Ä —Å—Ç—Ä–æ–∫–∏. –∏–ª–∏ –∫–æ–ª–æ–Ω–∫–∏  ÿ£ÿπŸÖÿØÿ© - ŸÖŸÉÿ®ÿ±ÿßÿ™ ÿßŸÑÿµŸàÿ™, —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ –∫–æ–ª–æ–Ω–∫–∏

# –ú–æ–∂–Ω–æ —Å–∫–∞–∑–∞—Ç—å —á—Ç–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º = —Ç–∞–±–ª–∏—Ü–∞

–ï—Å—Ç—å –º–Ω–æ–∂–µ—Å—Ç–≤–æ —Å–ø–æ—Å–æ–±–æ–≤ —Å–æ–±—Ä–∞—Ç—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ pandas. –æ—Ç –ø—Ä–æ—Å—Ç–æ–≥–æ pd.DataFrame() –¥–æ —Ä–∞–∑–ª–∏—á–Ω—ã—Ö –∫–ª–∞—Å—Å–º–µ—Ç–æ–¥–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –¥–ª—è –∫–ª–∞—Å—Å–∞ dataframe –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ –¥–∞–Ω–Ω—ã—Ö –∏–∑ —Ä–∞–∑–Ω—ã—Ö –∏—Å—Ç–æ—á–Ω–∏–∫–æ–≤.

–ù–∞–ø—Ä–∏–º–µ—Ä
from_records() - https://github.com/pandas-dev/pandas/blob/ad178424e2d95badf6caca5f583f3f6053ba4d90/pandas/core/frame.py#L2121
from_dict() - https://github.com/pandas-dev/pandas/blob/ad178424e2d95badf6caca5f583f3f6053ba4d90/pandas/core/frame.py#L1668
read_csv()
read_sql()

--

‚ô£ EXPLAINING ===> https://chat.hix.ai/ar/share/cm0g9bezk01riaj9ssve799u9

–ö–∞–∫ Series —Ç–∞–∫ –∏ DataFrame –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è—é—Ç –º–µ—Ç–æ–¥—ã –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö, —Ç–∞–∫–∏–µ –∫–∞–∫:
- –í—ã–±–æ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö: –º–æ–∂–Ω–æ —É–∫–∞–∑–∞—Ç—å –æ—Å–æ–±—ã–µ —Å—Ç—Ä–æ–∫–∏ –∏ –∫–æ–ª–æ–Ω–∫–∏ —Å –∫–æ—Ç–æ—Ä—ã–º–∏ –≤—ã –±—É–¥–µ—Ç–µ —Ä–∞–±–æ—Ç–∞—Ç—å, –∏—Å–ø–æ–ª—å–∑—É—è –∏–Ω–¥–µ–∫—Å—ã,—Å–ª–∞–π—Å—ã,—É—Å–ª–æ–≤–∏—è
- –û—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö: –º–æ–∂–Ω–æ –∑–∞–ø–æ–ª–Ω—è—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ, —É–¥–∞–ª—è—Ç—å –∑–∞–ø–∏—Å–∏ –≤ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ —Ö–≤–∞—Ç–∞–µ—Ç –¥–∞–Ω–Ω—ã—Ö.
- –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö: –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å —Ñ—É–Ω–∫—Ü–∏–∏ –ø–æ –≤—Å–µ–π –¥–ª–∏–Ω–Ω–µ —Ñ—Ä–µ–π–º–∞ –∏–ª–∏ –ø–æ –µ–≥–æ –æ—Ç–¥–µ–ª—å–Ω—ã–º —á–∞—Å—Ç—è–º
- –ê–≥–≥—Ä–µ–≥–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö:  –º–æ–∂–Ω–æ –≤—ã—á–∏—Å–ª—è—Ç—å —Ç–∞–∫–∏–µ –æ—Ü–µ–Ω–æ—á–Ω—ã–µ –≤–µ–ª–∏—á–∏–Ω—ã –∫–∞–∫ —Å—É–º–º–∞, —Å—Ä–µ–¥–Ω–µ–µ, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ.–ê —Ç–∞–∫–∂–µ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ —Å–≤–æ–∏–º –∫—Ä–∏—Ç–µ—Ä–∏—è–º –ø—Ä–∏ –ø–æ–º–æ—â–∏ groupby.
- –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞: –º–æ–∂–Ω–æ —É–ø–æ—Ä—è–¥–æ—á–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ –∑–Ω–∞—á–µ–Ω–∏—è—Ö –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ —Å–≤–æ–∏–º –∫—Ä–∏—Ç–µ—Ä–∏—è–º
- –§—É–Ω–∫—Ü–∏–æ–Ω–∞–ª—å–Ω–æ—Å—Ç—å –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ä—è–¥–æ–≤: –≤—ã –º–æ–∂–µ—Ç–µ —Ä–∞–±–æ—Ç–∞—Ç—å —Å –¥–∞–Ω–Ω—ã–º–∏ –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ä—è–¥–æ–≤, –ø–µ—Ä–µ—Å—á–∏—Ç—ã–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Å —Ä–∞–∑–Ω–æ–π —á–∞—Å—Ç–æ—Ç–æ–π –∏ –≤—ã–ø–æ–ª–Ω—è—Ç—å –≤—ã—á–∏—Å–ª–µ–Ω–∏—è —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º —Å–∫–æ–ª—å–∑—è—â–µ–≥–æ –æ–∫–Ω–∞ –≤ DataFrame –∏–ª–∏ Series.

In [ ]:
# –í—ã–±–æ—Ä–∫–∞

data_frame_covid[10:15]    # –≤—ã–±–∏—Ä–∞–µ—Ç —Å—Ç—Ä–æ–∫–∏ –ø–æ –∏–Ω–¥–µ–∫—Å—É

,country,continent,date,day,month,year,cases,deaths,country_code,population
10,Australia,Oceania,2020-04-12,12,4,2020,51,3,AUS,24992369.0
11,Austria,Europe,2020-04-12,12,4,2020,247,18,AUT,8847037.0
12,Azerbaijan,Europe,2020-04-12,12,4,2020,67,1,AZE,9942334.0
13,Bahamas,America,2020-04-12,12,4,2020,4,0,BHS,385640.0
14,Bahrain,Asia,2020-04-12,12,4,2020,42,0,BHR,1569439.0

In [ ]:
# data_frame_covid.head() #if don't give it an argument, it's will be display only first 5 lines
data_frame_covid.head(10)  # head(): ÿ™Ÿèÿ∏Ÿáÿ± ÿßŸÑÿµŸÅŸàŸÅ ÿßŸÑÿ£ŸàŸÑŸâ (ÿßŸÑÿßŸÅÿ™ÿ±ÿßÿ∂Ÿä 5)

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0
5,Anguilla,America,2020-04-12,12,4,2020,0,0,NaN,NaN
6,Antigua_and_Barbuda,America,2020-04-12,12,4,2020,0,0,ATG,96286.0
7,Argentina,America,2020-04-12,12,4,2020,162,7,ARG,44494502.0
8,Armenia,Europe,2020-04-12,12,4,2020,30,2,ARM,2951776.0
9,Aruba,America,2020-04-12,12,4,2020,6,0,ABW,105845.0

In [ ]:
# data_frame_covid.tail() #if don't give it an argument, it's will be display only last 5 lines
data_frame_covid.tail(10)  # tail(): ÿ™Ÿèÿ∏Ÿáÿ± ÿßŸÑÿµŸÅŸàŸÅ ÿßŸÑÿ£ÿÆŸäÿ±ÿ© (ÿßŸÑÿßŸÅÿ™ÿ±ÿßÿ∂Ÿä 5)

,country,continent,date,day,month,year,cases,deaths,country_code,population
196,United_Republic_of_Tanzania,Africa,2020-04-12,12,4,2020,0,0,TZA,56318348.0
197,United_States_Virgin_Islands,America,2020-04-12,12,4,2020,1,0,VIR,106977.0
198,United_States_of_America,America,2020-04-12,12,4,2020,28391,1831,USA,327167434.0
199,Uruguay,America,2020-04-12,12,4,2020,7,0,URY,3449299.0
200,Uzbekistan,Asia,2020-04-12,12,4,2020,172,1,UZB,32955400.0
201,Venezuela,America,2020-04-12,12,4,2020,0,0,VEN,28870195.0
202,Vietnam,Asia,2020-04-12,12,4,2020,4,0,VNM,95540395.0
203,Yemen,Asia,2020-04-12,12,4,2020,0,0,YEM,28498687.0
204,Zambia,Africa,2020-04-12,12,4,2020,0,0,ZMB,17351822.0
205,Zimbabwe,Africa,2020-04-12,12,4,2020,3,0,ZWE,14439018.0

In [ ]:
data_frame_covid.iloc[:5]    # # –Ω–∞ –æ—Å–Ω–æ–≤–µ –∏–Ω–¥–µ–∫—Å–æ–≤ - –∫–æ–Ω–µ—Ü –Ω–µ–≤–∫–ª—é—á–∞—é—Ç—Å—è

# https://chat.hix.ai/ar/share/cm0glw0fs02tbsrrzmflqe6go

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0

In [ ]:
data_frame_covid[:5]    #the functoin here is just []

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0

In [ ]:
data_frame_covid.loc[:5]    # –Ω–∞ –æ—Å–Ω–æ–≤–µ –∏–Ω–¥–µ–∫—Å–æ–≤ - –Ω–∞—á–∞–ª–æ –∏ –∫–æ–Ω–µ—Ü –≤–∫–ª—é—á–∞—é—Ç—Å—è

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0
5,Anguilla,America,2020-04-12,12,4,2020,0,0,NaN,NaN

In [ ]:
###‚ô£ ŸÖÿß ŸáŸà ÿßŸÑŸÅÿ±ŸÇ ÿ®ŸäŸÜ iloc and loc
# https://chat.hix.ai/ar/share/cm0gm7437030tsrrz2tm9s6o1

In [ ]:
# –ö–∞–∫ –∑–∞–ø–æ–º–∏–Ω–∞—Ç—å —á—Ç–æ–±—ã –Ω–µ –ø—É—Ç–∞—Ç—å—Å—è iloc –∏ loc :

# loc - loc –ø–æ –∏–Ω–¥–µ–∫—Å–∞–º, a –∏–Ω–¥–µ–∫—Å —ç—Ç–æ label, –ø–æ—ç—Ç–æ–º—É Loc = Label = index... L..L
# iloc - –ø–æ –ø–æ–∑–∏—Ü–∏—è–º

### —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö
–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Å–Ω–æ–≤–Ω—ã—Ö —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —Ä–∞–±–æ—Ç—ã, pandas –∏—Å–ø–æ–ª—å–∑—É–µ—Ç —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∏–∑ NumPy –ø–æ –ø–æ—Ä–∞–≤—É –Ω–∞—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è ÿπŸÜ ÿ∑ÿ±ŸäŸÇ ÿßŸÑŸÖŸäÿ±ÿßÿ´
https://pandas.pydata.org/pandas-docs/stable/reference/arrays.html

–í –æ—Å–Ω–æ–≤–Ω–æ–º, –∫–æ–Ω–µ—á–Ω–æ, –º–æ–∂–Ω–æ –ø–æ —Å–º—ã—Å–ª—É —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –≤ –ª—é–±–æ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ —Ä–∞–∑–¥–µ–ª–∏—Ç—å –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –∏ —á–∏—Å–ª–µ–Ω–Ω—ã–µ ÿßŸÑŸÅÿ¶ŸàŸäÿ© ŸàÿßŸÑÿπÿØÿØŸäÿ©.

In [ ]:
# dtypes = to know the type // info = also we can use it to know the type

In [ ]:
data_frame_covid.dtypes

country          object
continent        object
date             object
day               int64
month             int64
year              int64
cases             int64
deaths            int64
country_code     object
population      float64
dtype: object

In [ ]:
data_frame_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       206 non-null    object
 1   continent     206 non-null    object
 2   date          206 non-null    object
 3   day           206 non-null    int64
 4   month         206 non-null    int64
 5   year          206 non-null    int64
 6   cases         206 non-null    int64
 7   deaths        206 non-null    int64
 8   country_code  202 non-null    object
 9   population    202 non-null    float64
dtypes: float64(1), int64(5), object(4)
memory usage: 16.2+ KB

### –ò–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–Ω–∏–µ
–í–æ –º–Ω–æ–≥–æ–º —É—Å–ø–µ—Ö —Ä–∞–±–æ—Ç—ã —Å –¥–∞–Ω–Ω—ã–º–∏ –∑–∞–≤–∏—Å–∏—Ç –≤ —Å–∫–æ—Ä–æ—Å—Ç–∏ –¥–æ—Å—Ç—É–ø–∞ –∫ –¥–∞–Ω–Ω—ã–º –∏ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –±—ã—Å—Ç—Ä–æ –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –Ω–µ–Ω—É–∂–Ω–æ–µ. –î–ª—è —É—Å–∫–æ—Ä–µ–Ω–∏—è —Ä–∞–±–æ—Ç—ã –Ω–∞–º –º–æ–≥—É—Ç –ø–æ–º–æ—á—å –∏–Ω–¥–µ–∫—Å—ã. –ü—Ä–∏ —Å–æ–∑–¥–∞–Ω–∏–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —É –Ω–µ–≥–æ –∏–º–µ–µ—Ç—Å—è —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ã–π –∏–Ω–¥–µ–∫—Å –¥–ª—è –±—ã—Å—Ç—Ä–æ–≥–æ –¥–æ—Å—Ç—É–ø–∞ —á–µ—Ä–µ–∑ –Ω–µ–≥–æ –¥–æ —Å—Ç—Ä–æ–∫ –¥–∞–Ω–Ω—ã—Ö. –í—ã–±–∏—Ä–∞—Ç—å —Ç–∞–∫–∏–µ —Å—Ç—Ä–æ–∫–∏ –º–æ–∂–Ω–æ —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–π .loc() –∏ .iloc() (i==integer). –î–ª—è –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –º–æ–∂–Ω–æ —É—Å—Ç–∞–Ω–æ–≤–∏—Ç—å –Ω–æ–≤—ã–π –∏–Ω–¥–µ–∫—Å (–ø—Ä–∏ —ç—Ç–æ–º –ª–∏–±–æ –∑–∞–º–µ–Ω–∏–≤ —Å—Ç–∞—Ä—ã–π –ª–∏–±–æ —Å–æ–∑–¥–∞–≤ –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏–∑ —Å—É—â–µ—Å—Ç–≤—É—é—â–µ–≥–æ —Å –Ω–æ–≤—ã–º –∏–Ω–¥–µ–∫—Å–æ–º.

ÿßŸÑŸÅŸáÿ±ÿ≥ÿ©:  ŸÖŸÜ ŸÜŸàÿßÿ≠Ÿç ÿπÿØŸäÿØÿ©ÿå Ÿäÿπÿ™ŸÖÿØ ŸÜÿ¨ÿßÿ≠ ÿßŸÑÿπŸÖŸÑ ŸÖÿπ ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™ ÿπŸÑŸâ ÿ≥ÿ±ÿπÿ© ÿßŸÑŸàÿµŸàŸÑ ÿ•ŸÑŸâ ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™ ŸàÿßŸÑŸÇÿØÿ±ÿ© ÿπŸÑŸâ ÿ™ÿµŸÅŸäÿ© ŸÖÿß ŸáŸà ÿ∫Ÿäÿ± ÿ∂ÿ±Ÿàÿ±Ÿä ÿ®ÿ≥ÿ±ÿπÿ©. ŸäŸÖŸÉŸÜ ÿ£ŸÜ ÿ™ÿ≥ÿßÿπÿØŸÜÿß ÿßŸÑŸÅŸáÿßÿ±ÿ≥ ŸÅŸä ÿ™ÿ≥ÿ±Ÿäÿπ ÿπŸÖŸÑŸÜÿß. ÿπŸÜÿØŸÖÿß ÿ™ŸÇŸàŸÖ ÿ®ÿ•ŸÜÿ¥ÿßÿ° ÿ•ÿ∑ÿßÿ± ÿ®ŸäÿßŸÜÿßÿ™ÿå ŸÅÿ•ŸÜŸá Ÿäÿ≠ÿ™ŸàŸä ÿπŸÑŸâ ŸÅŸáÿ±ÿ≥ ŸÇŸäÿßÿ≥Ÿä ŸÑŸÑŸàÿµŸàŸÑ ÿ®ÿ≥ÿ±ÿπÿ© ÿ•ŸÑŸâ ÿµŸÅŸàŸÅ ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™ ŸÖŸÜ ÿÆŸÑÿßŸÑŸá. ŸäŸÖŸÉŸÜŸÉ ÿ™ÿ≠ÿØŸäÿØ Ÿáÿ∞Ÿá ÿßŸÑÿµŸÅŸàŸÅ ÿ®ÿßÿ≥ÿ™ÿÆÿØÿßŸÖ ÿßŸÑŸàÿ∏ÿßÿ¶ŸÅ

.loc() Ÿà .iloc() (i==ÿπÿØÿØ ÿµÿ≠Ÿäÿ≠).

 ŸäŸÖŸÉŸÜŸÉ ÿ™ÿ´ÿ®Ÿäÿ™ ŸÅŸáÿ±ÿ≥ ÿ¨ÿØŸäÿØ ŸÑÿ•ÿ∑ÿßÿ± ÿ®ŸäÿßŸÜÿßÿ™ (ÿ•ŸÖÿß ÿπŸÜ ÿ∑ÿ±ŸäŸÇ ÿßÿ≥ÿ™ÿ®ÿØÿßŸÑ ÿßŸÑŸÅŸáÿ±ÿ≥ ÿßŸÑŸÇÿØŸäŸÖ ÿ£Ÿà ÿ•ŸÜÿ¥ÿßÿ° ÿ•ÿ∑ÿßÿ± ÿ®ŸäÿßŸÜÿßÿ™ ÿ¨ÿØŸäÿØ ŸÖŸÜ ÿ•ÿ∑ÿßÿ± ÿ®ŸäÿßŸÜÿßÿ™ ŸÖŸàÿ¨ŸàÿØ ÿ®ŸÅŸáÿ±ÿ≥ ÿ¨ÿØŸäÿØ.

In [ ]:
data_frame_covid.head() #here we displayed first 5 lines

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0

In [ ]:
data_frame_covid.set_index('cases', inplace=True)   #we replaced 'cases' insted of 'indexes'

# https://chat.hix.ai/ar/share/cm0gortwt04k814d8omqyfaof

In [ ]:
data_frame_covid.head()  #display the result again, and we see that the cases insted of indexes

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0
4,0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0

In [ ]:
data_frame_covid.loc[4]  #and here we using loc to display 4 instead of indexes or lables(which is cases here)

,country,continent,date,day,month,year,deaths,country_code,population
cases,,,,,,,,,
4,Bahamas,America,2020-04-12,12,4,2020,0,BHS,385640.0
4,Ethiopia,Africa,2020-04-12,12,4,2020,1,ETH,109224559.0
4,Jamaica,America,2020-04-12,12,4,2020,0,JAM,2934855.0
4,Sudan,Africa,2020-04-12,12,4,2020,0,SDN,41801533.0
4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0

In [ ]:
data_frame_covid.iloc[5:10]   #and here using iloc we display lines of cases from 5 to 10

,country,continent,date,day,month,year,deaths,country_code,population
cases,,,,,,,,,
0,Anguilla,America,2020-04-12,12,4,2020,0,NaN,NaN
0,Antigua_and_Barbuda,America,2020-04-12,12,4,2020,0,ATG,96286.0
162,Argentina,America,2020-04-12,12,4,2020,7,ARG,44494502.0
30,Armenia,Europe,2020-04-12,12,4,2020,2,ARM,2951776.0
6,Aruba,America,2020-04-12,12,4,2020,0,ABW,105845.0

In [ ]:
data_frame_covid.iloc[4:10, :4]   #[first_line:last_line, :coloums(from right to left)]

                   country continent        date  day
cases
0                   Angola    Africa  2020-04-12   12
0                 Anguilla   America  2020-04-12   12
0      Antigua_and_Barbuda   America  2020-04-12   12
162              Argentina   America  2020-04-12   12
30                 Armenia    Europe  2020-04-12   12
6                    Aruba   America  2020-04-12   12

In [ ]:
data_frame_covid.at[4, 'continent']

# https://chat.hix.ai/ar/share/cm0hydcok0vb6efd1ft1b9br8
# https://chat.hix.ai/ar/share/cm0hyg70w0w9z14d8c4zt5upj

cases
4    America
4     Africa
4    America
4     Africa
4       Asia
Name: continent, dtype: object

In [ ]:
data_frame_covid.loc[[4, 5]] #display rows with values 4 and 5

,country,continent,date,day,month,year,deaths,country_code,population
cases,,,,,,,,,
4,Bahamas,America,2020-04-12,12,4,2020,0,BHS,385640.0
4,Ethiopia,Africa,2020-04-12,12,4,2020,1,ETH,109224559.0
4,Jamaica,America,2020-04-12,12,4,2020,0,JAM,2934855.0
4,Sudan,Africa,2020-04-12,12,4,2020,0,SDN,41801533.0
4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0
5,Gambia,Africa,2020-04-12,12,4,2020,0,GMB,2280102.0
5,Guyana,America,2020-04-12,12,4,2020,0,GUY,779004.0
5,Taiwan,Asia,2020-04-12,12,4,2020,1,TWN,23780452.0

### .query(), .where()

—Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

–¥–ª—è —Ç–æ–≥–æ —á—Ç–æ–±—ã –≤—ã–±—Ä–∞—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ —É—Å–ª–æ–≤–∏–π –¥–ª—è —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –º–µ—Ç–æ–¥–æ–º query(), –æ–Ω –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤ –æ–¥–Ω—É —Å—Ç—Ä–æ–∫—É –∑–∞–ø–∏—Å–∞—Ç—å –≤—Å–µ —É—Å–ª–æ–≤–∏—è —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –∫–æ—Ç–æ—Ä—ã–µ –≤–∞–º –º–æ–≥—É—Ç –±—ã—Ç—å –Ω—É–∂–Ω—ã –ø—Ä–∏ –≤—ã–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö. –ø—Ä–∏ —ç—Ç–æ–º –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –≤—ã –ø–æ–ª—É—á–∏—Ç–µ –Ω–æ–≤—ã–π —Ñ—Ä–µ–π–º —Å –¥–∞–Ω–Ω—ã–º–∏.

In [ ]:
data_frame_covid.query("cases > 5")    #display rows with values greater than 5, the resul will be a new DataFrame

,country,continent,date,day,month,year,deaths,country_code,population
cases,,,,,,,,,
34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0
64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0
21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0
162,Argentina,America,2020-04-12,12,4,2020,7,ARG,44494502.0
...,...,...,...,...,...,...,...,...,...
376,United_Arab_Emirates,Asia,2020-04-12,12,4,2020,4,ARE,9630959.0
8719,United_Kingdom,Europe,2020-04-12,12,4,2020,839,GBR,66488991.0
28391,United_States_of_America,America,2020-04-12,12,4,2020,1831,USA,327167434.0
7,Uruguay,America,2020-04-12,12,4,2020,0,URY,3449299.0
172,Uzbekistan,Asia,2020-04-12,12,4,2020,1,UZB,32955400.0

In [ ]:
# displayed 114 rows with values > 5

In [ ]:
data_frame_covid.query("cases < 5")

,country,continent,date,day,month,year,deaths,country_code,population
cases,,,,,,,,,
0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0
0,Anguilla,America,2020-04-12,12,4,2020,0,NaN,NaN
0,Antigua_and_Barbuda,America,2020-04-12,12,4,2020,0,ATG,96286.0
4,Bahamas,America,2020-04-12,12,4,2020,0,BHS,385640.0
1,Barbados,America,2020-04-12,12,4,2020,0,BRB,286641.0
...,...,...,...,...,...,...,...,...,...
0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0
4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0
0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0
0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0
3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0

In [ ]:
data_frame_covid.query("cases > 5 & deaths == 1")

,country,continent,date,day,month,year,deaths,country_code,population
cases,,,,,,,,,
67,Azerbaijan,Europe,2020-04-12,12,4,2020,1,AZE,9942334.0
36,Burkina_Faso,Africa,2020-04-12,12,4,2020,1,BFA,19751535.0
17,Cameroon,Africa,2020-04-12,12,4,2020,1,CMR,25216237.0
53,Cote_dIvoire,Africa,2020-04-12,12,4,2020,1,CIV,25069229.0
56,Cuba,America,2020-04-12,12,4,2020,1,CUB,11338138.0
37,Djibouti,Africa,2020-04-12,12,4,2020,1,DJI,958920.0
136,Finland,Europe,2020-04-12,12,4,2020,1,FIN,5518050.0
14,Iceland,Europe,2020-04-12,12,4,2020,1,ISL,353574.0
18,Latvia,Europe,2020-04-12,12,4,2020,1,LVA,1926542.0
11,Liberia,Africa,2020-04-12,12,4,2020,1,LBR,4818977.0
13,Malta,Europe,2020-04-12,12,4,2020,1,MLT,483530.0
122,Moldova,Europe,2020-04-12,12,4,2020,1,MDA,3545883.0
12,San_Marino,Europe,2020-04-12,12,4,2020,1,SMR,33785.0
25,South_Africa,Africa,2020-04-12,12,4,2020,1,ZAF,57779622.0
172,Uzbekistan,Asia,2020-04-12,12,4,2020,1,UZB,32955400.0

In [ ]:
data_frame_covid.query("~(cases > 5 & deaths == 1)")    #ÿ™ŸäŸÑÿØÿß ÿ™ŸÜÿ∑Ÿä ÿπŸÉÿ≥ ÿßŸÑÿ¥ÿ±ÿ∑ ÿßŸÑŸÖŸàÿ¨ŸàÿØ ÿ®ŸäŸÜ ÿßŸÑŸÇŸàÿ≥ŸäŸÜ

,country,continent,date,day,month,year,deaths,country_code,population
cases,,,,,,,,,
34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0
64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0
21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0
0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0
...,...,...,...,...,...,...,...,...,...
0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0
4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0
0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0
0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0
3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0

In [ ]:
data_frame_covid.query("cases > 5 & continent != 'Africa' ")

,country,continent,date,day,month,year,deaths,country_code,population
cases,,,,,,,,,
34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0
21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0
162,Argentina,America,2020-04-12,12,4,2020,7,ARG,44494502.0
30,Armenia,Europe,2020-04-12,12,4,2020,2,ARM,2951776.0
...,...,...,...,...,...,...,...,...,...
376,United_Arab_Emirates,Asia,2020-04-12,12,4,2020,4,ARE,9630959.0
8719,United_Kingdom,Europe,2020-04-12,12,4,2020,839,GBR,66488991.0
28391,United_States_of_America,America,2020-04-12,12,4,2020,1831,USA,327167434.0
7,Uruguay,America,2020-04-12,12,4,2020,0,URY,3449299.0
172,Uzbekistan,Asia,2020-04-12,12,4,2020,1,UZB,32955400.0

In [ ]:
data_frame_covid.query("cases > 5 & (continent != 'Africa' | deaths < 5) ")   # –∑–Ω–∞–∫ | –æ–±–æ–∑–Ω–∞—á–∞–µ—Ç –ª–æ–≥–∏—á–µ—Å–∫–∏–π –æ–ø–µ—Ä–∞—Ç–æ—Ä –ò–õ–ò (OR)

,country,continent,date,day,month,year,deaths,country_code,population
cases,,,,,,,,,
34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0
21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0
162,Argentina,America,2020-04-12,12,4,2020,7,ARG,44494502.0
30,Armenia,Europe,2020-04-12,12,4,2020,2,ARM,2951776.0
...,...,...,...,...,...,...,...,...,...
376,United_Arab_Emirates,Asia,2020-04-12,12,4,2020,4,ARE,9630959.0
8719,United_Kingdom,Europe,2020-04-12,12,4,2020,839,GBR,66488991.0
28391,United_States_of_America,America,2020-04-12,12,4,2020,1831,USA,327167434.0
7,Uruguay,America,2020-04-12,12,4,2020,0,URY,3449299.0
172,Uzbekistan,Asia,2020-04-12,12,4,2020,1,UZB,32955400.0

.reset_index()

In [ ]:
data_frame_covid = data_frame_covid.reset_index()

In [ ]:
data_frame_covid

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0
4,0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0
...,...,...,...,...,...,...,...,...,...,...
201,0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0
202,4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0
203,0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0
204,0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0
205,3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0

   "Boolean Indexing" (ÿßŸÑŸÅŸáÿ±ÿ≥ÿ© ÿßŸÑÿ®ŸàŸÑŸäÿßŸÜŸäÿ©) –±—É–ª–µ–≤—Å–∫–∞—è –∏–Ω–¥–µ–∫—Å–∞—Ü–∏—è

   ŸàŸáŸÜÿß ÿ¥ÿ±ÿ≠ ÿ®ÿßŸÑÿ¥ÿßÿ™

  https://chat.hix.ai/ar/share/cm0hz8ybz0vn9efd19dh0dbhj

In [ ]:
data_frame_covid.cases > 5

0       True
1       True
2       True
3       True
4      False
       ...
201    False
202    False
203    False
204    False
205    False
Name: cases, Length: 206, dtype: bool

In [ ]:
data_frame_covid['cases'] > 5  #we can do it this way too

0       True
1       True
2       True
3       True
4      False
       ...
201    False
202    False
203    False
204    False
205    False
Name: cases, Length: 206, dtype: bool

In [ ]:
data_frame_covid[data_frame_covid['cases'] > 5]

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0
7,162,Argentina,America,2020-04-12,12,4,2020,7,ARG,44494502.0
...,...,...,...,...,...,...,...,...,...,...
194,376,United_Arab_Emirates,Asia,2020-04-12,12,4,2020,4,ARE,9630959.0
195,8719,United_Kingdom,Europe,2020-04-12,12,4,2020,839,GBR,66488991.0
198,28391,United_States_of_America,America,2020-04-12,12,4,2020,1831,USA,327167434.0
199,7,Uruguay,America,2020-04-12,12,4,2020,0,URY,3449299.0
200,172,Uzbekistan,Asia,2020-04-12,12,4,2020,1,UZB,32955400.0

In [ ]:
data_frame_covid[(data_frame_covid['cases'] > 5) & (data_frame_covid['deaths'] == 3)]

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
10,51,Australia,Oceania,2020-04-12,12,4,2020,3,AUS,24992369.0
15,58,Bangladesh,Asia,2020-04-12,12,4,2020,3,BGD,161356039.0
30,26,Bulgaria,Europe,2020-04-12,12,4,2020,3,BGR,7024216.0
77,70,Greece,Europe,2020-04-12,12,4,2020,3,GRC,10727668.0
118,184,Malaysia,Asia,2020-04-12,12,4,2020,3,MYS,31528585.0
140,13,Nigeria,Africa,2020-04-12,12,4,2020,3,NGA,195874740.0
154,63,Puerto_Rico,America,2020-04-12,12,4,2020,3,PRI,3195153.0
166,275,Serbia,Europe,2020-04-12,12,4,2020,3,SRB,6982084.0
185,33,Thailand,Asia,2020-04-12,12,4,2020,3,THA,69428524.0
189,14,Tunisia,Africa,2020-04-12,12,4,2020,3,TUN,11565204.0

.where()

In [ ]:
# where - –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è, –≥–¥–µ —É—Å–ª–æ–≤–∏–µ = —Ç—Ä—É, —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç –∏—Å—Ö–æ–¥–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ, –∏–Ω–∞—á–µ Nan

data_frame_covid.where(data_frame_covid.cases > 5)

# data_frame_covid.where(data_frame_covid.cases > 5, other=0)  #Ÿáÿ∞ÿß ÿßŸÑÿ≥ÿ∑ÿ± ŸäŸÇŸàŸÖ ÿ®ŸÜŸÅÿ≥ ÿßŸÑÿπŸÖŸÑŸäÿ©ÿå ŸàŸÑŸÉŸÜ ÿ®ÿØŸÑÿßŸã ŸÖŸÜ ÿßÿ≥ÿ™ÿ®ÿØÿßŸÑ ÿßŸÑŸÇŸäŸÖ ÿ∫Ÿäÿ± ÿßŸÑŸÖÿ∑ÿßÿ®ŸÇÿ© ÿ®ŸÄ NaNÿå ŸÅÿ•ŸÜŸá Ÿäÿ≥ÿ™ÿ®ÿØŸÑŸáÿß ÿ®ÿßŸÑŸÇŸäŸÖÿ© 0.

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34.0,Afghanistan,Asia,2020-04-12,12.0,4.0,2020.0,3.0,AFG,37172386.0
1,17.0,Albania,Europe,2020-04-12,12.0,4.0,2020.0,0.0,ALB,2866376.0
2,64.0,Algeria,Africa,2020-04-12,12.0,4.0,2020.0,19.0,DZA,42228429.0
3,21.0,Andorra,Europe,2020-04-12,12.0,4.0,2020.0,2.0,AND,77006.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_frame_covid     #we didn't change anything

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0
4,0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0
...,...,...,...,...,...,...,...,...,...,...
201,0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0
202,4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0
203,0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0
204,0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0
205,3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0

In [ ]:
filter1 = data_frame_covid.cases > 5
filter2 = data_frame_covid.continent != "Europe"

data_frame_covid.where(filter1 & filter2).dropna()    #dropna delete rows with NaN values, without dropna the result will be 206 rows

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34.0,Afghanistan,Asia,2020-04-12,12.0,4.0,2020.0,3.0,AFG,37172386.0
2,64.0,Algeria,Africa,2020-04-12,12.0,4.0,2020.0,19.0,DZA,42228429.0
7,162.0,Argentina,America,2020-04-12,12.0,4.0,2020.0,7.0,ARG,44494502.0
9,6.0,Aruba,America,2020-04-12,12.0,4.0,2020.0,0.0,ABW,105845.0
10,51.0,Australia,Oceania,2020-04-12,12.0,4.0,2020.0,3.0,AUS,24992369.0
...,...,...,...,...,...,...,...,...,...,...
190,5138.0,Turkey,Asia,2020-04-12,12.0,4.0,2020.0,95.0,TUR,82319724.0
194,376.0,United_Arab_Emirates,Asia,2020-04-12,12.0,4.0,2020.0,4.0,ARE,9630959.0
198,28391.0,United_States_of_America,America,2020-04-12,12.0,4.0,2020.0,1831.0,USA,327167434.0
199,7.0,Uruguay,America,2020-04-12,12.0,4.0,2020.0,0.0,URY,3449299.0
200,172.0,Uzbekistan,Asia,2020-04-12,12.0,4.0,2020.0,1.0,UZB,32955400.0

In [ ]:
df_temp = data_frame_covid.where(filter1 & filter2)
df_temp

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34.0,Afghanistan,Asia,2020-04-12,12.0,4.0,2020.0,3.0,AFG,37172386.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64.0,Algeria,Africa,2020-04-12,12.0,4.0,2020.0,19.0,DZA,42228429.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

.reset_index()

In [ ]:
df_temp.dropna().reset_index()

# ŸáŸÜÿß ÿ±ÿßÿ≠ Ÿäÿ®ŸÇŸâ ÿπÿßŸÖŸàÿØ ÿßŸÑÿ£ŸäŸÜÿØŸÉÿ≥ ÿßŸÑÿ£ÿµŸÑŸä ŸàŸäÿ∏Ÿáÿ± ÿßÿ≥ŸÖŸá ÿ•ŸäŸÜÿØŸÉÿ≥ ŸàŸäÿ®ŸÇŸâ ŸÑŸÉŸÑ ÿµŸÅ ÿ•ŸäŸÜÿØŸÉÿ≥Ÿá ÿßŸÑÿßÿµŸÑŸä Ÿàÿ±ÿßÿ≠ ŸäÿµŸäÿ± ŸÅÿ±ÿ∫ ÿ®ŸäŸÜ ÿ•ŸäŸÜÿØŸÉÿ≥ÿßÿ™ ÿ®ÿπÿ∂ ÿßŸÑÿµŸÅŸàŸÅ ŸÑÿ£ŸÜ ÿßŸÉŸà ÿµŸÅŸàŸÅ ÿßŸÜÿ≠ÿ∞ŸÅŸÜ ÿ®ÿ≥ÿ®ÿ® ÿßŸÑÿØÿ±Ÿàÿ®ŸÜÿß
#  ŸàŸäŸÜÿ∂ÿßŸÅ ÿπÿßŸÖŸàÿØ ÿ®ÿßŸÑÿ®ÿØÿßŸäŸá ÿ®ÿØŸàŸÜ ÿßÿ≥ŸÖ ÿ®ŸäŸá ÿ•ŸäŸÜÿØŸÉÿ≥ÿßÿ™ ÿ®ÿßŸÑÿ™ÿ±ÿ™Ÿäÿ® ŸÑŸÑÿµŸÅŸàŸÅ ŸÖŸÜ ÿßŸÑÿµŸÅÿ± ŸàŸÑÿ≠ÿØ ÿ¢ÿÆÿ± ÿµŸÅ

,index,cases,country,continent,date,day,month,year,deaths,country_code,population
0,0,34.0,Afghanistan,Asia,2020-04-12,12.0,4.0,2020.0,3.0,AFG,37172386.0
1,2,64.0,Algeria,Africa,2020-04-12,12.0,4.0,2020.0,19.0,DZA,42228429.0
2,7,162.0,Argentina,America,2020-04-12,12.0,4.0,2020.0,7.0,ARG,44494502.0
3,9,6.0,Aruba,America,2020-04-12,12.0,4.0,2020.0,0.0,ABW,105845.0
4,10,51.0,Australia,Oceania,2020-04-12,12.0,4.0,2020.0,3.0,AUS,24992369.0
...,...,...,...,...,...,...,...,...,...,...,...
61,190,5138.0,Turkey,Asia,2020-04-12,12.0,4.0,2020.0,95.0,TUR,82319724.0
62,194,376.0,United_Arab_Emirates,Asia,2020-04-12,12.0,4.0,2020.0,4.0,ARE,9630959.0
63,198,28391.0,United_States_of_America,America,2020-04-12,12.0,4.0,2020.0,1831.0,USA,327167434.0
64,199,7.0,Uruguay,America,2020-04-12,12.0,4.0,2020.0,0.0,URY,3449299.0
65,200,172.0,Uzbekistan,Asia,2020-04-12,12.0,4.0,2020.0,1.0,UZB,32955400.0

In [ ]:
df_temp

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34.0,Afghanistan,Asia,2020-04-12,12.0,4.0,2020.0,3.0,AFG,37172386.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64.0,Algeria,Africa,2020-04-12,12.0,4.0,2020.0,19.0,DZA,42228429.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
type(filter1)       #series

pandas.core.series.Series

In [ ]:
filter1

0       True
1       True
2       True
3       True
4      False
       ...
201    False
202    False
203    False
204    False
205    False
Name: cases, Length: 206, dtype: bool

In [ ]:
data_frame_covid.cases > 5

0       True
1       True
2       True
3       True
4      False
       ...
201    False
202    False
203    False
204    False
205    False
Name: cases, Length: 206, dtype: bool

In [ ]:
data_frame_covid.info()                    #also display the type and other info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cases         206 non-null    int64
 1   country       206 non-null    object
 2   continent     206 non-null    object
 3   date          206 non-null    object
 4   day           206 non-null    int64
 5   month         206 non-null    int64
 6   year          206 non-null    int64
 7   deaths        206 non-null    int64
 8   country_code  202 non-null    object
 9   population    202 non-null    float64
dtypes: float64(1), int64(5), object(4)
memory usage: 16.2+ KB

 .apply()

–£ pandas –µ—Å—Ç—å –º–µ—Ö–∞–Ω–∏–∑–º—ã –¥–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è —Ñ—É–Ω–∫—Ü–∏–π –ø–æ –≤—Å–µ–º—É –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É –∏–ª–∏ –ø–æ –Ω–µ–∫–æ—Ç–æ—Ä–æ–π –µ–≥–æ —á–∞—Å—Ç–∏.

In [ ]:
data_frame_covid

,cases,country,continent,date,day,month,year,deaths,country_code,population
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0
4,0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0
...,...,...,...,...,...,...,...,...,...,...
201,0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0
202,4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0
203,0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0
204,0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0
205,3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0

In [ ]:
data_frame_covid['population_mln']   #error, because this column is not exist

KeyError: 'population_mln'

apply = ÿ™ÿ∑ÿ®ŸäŸÇ

In [ ]:
# apply = ÿ™ÿ∑ÿ®ŸäŸÇ
# ŸáŸä ŸÖÿ¨ÿ±ÿØ ÿßÿØŸÉŸàŸÑ ÿ∑ÿ®ŸÇ ÿßŸÑŸÑŸä ÿ®ŸäŸÜ ÿßŸÑŸÇŸàÿ≥ŸäŸÜ

# https://chat.hix.ai/ar/share/cm0i0fvvv0xa72tfemvdr17yl

In [ ]:
data_frame_covid['population_mln'] = data_frame_covid['population'].apply(lambda x: x / 1_000_000)   # lambda ==> https://chat.hix.ai/ar/share/cm0i454rt0zbf6y4pm5whxbrs
data_frame_covid

#see that columns population and population_mln are the same

,cases,country,continent,date,day,month,year,deaths,country_code,population,population_mln
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0,37.172386
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0,2.866376
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0,42.228429
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0,0.077006
4,0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0,30.809762
...,...,...,...,...,...,...,...,...,...,...,...
201,0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0,28.870195
202,4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0,95.540395
203,0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0,28.498687
204,0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0,17.351822
205,3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0,14.439018

In [ ]:
s = '2024-10-20'
s.split('-')            # split ==> https://chat.hix.ai/ar/share/cm0i4ns580zlp14d89xevki2s
# print(s.split('-'))
print(s.split('-')[0])

# x.split('-'): ÿ™ŸÇŸàŸÖ Ÿáÿ∞Ÿá ÿßŸÑÿØÿßŸÑÿ© ÿ®ÿ™ŸÇÿ≥ŸäŸÖ ÿßŸÑÿ≥ŸÑÿ≥ŸÑÿ© x ÿ•ŸÑŸâ ŸÇÿßÿ¶ŸÖÿ© ÿ®ÿßÿ≥ÿ™ÿÆÿØÿßŸÖ ÿßŸÑÿ¥ÿ±ÿ∑ÿ© '-' ŸÉŸÅÿßÿµŸÑ. ÿπŸÑŸâ ÿ≥ÿ®ŸäŸÑ ÿßŸÑŸÖÿ´ÿßŸÑÿå ÿ•ÿ∞ÿß ŸÉÿßŸÜÿ™ x ŸáŸä '2023-10-05'ÿå ÿ≥ÿ™ŸÉŸàŸÜ ÿßŸÑŸÜÿ™Ÿäÿ¨ÿ© ['2023', '10', '05'].
# [0]: Ÿáÿ∞ÿß ÿßŸÑÿ¨ÿ≤ÿ° ŸäÿµŸÑ ÿ•ŸÑŸâ ÿßŸÑÿπŸÜÿµÿ± ÿßŸÑÿ£ŸàŸÑ ŸÖŸÜ ÿßŸÑŸÇÿßÿ¶ŸÖÿ© ÿßŸÑŸÜÿßÿ™ÿ¨ÿ©ÿå ŸàÿßŸÑÿ∞Ÿä ŸäŸÖÿ´ŸÑ ÿßŸÑÿ≥ŸÜÿ©. ŸÑÿ∞ÿßÿå ÿ®ÿßŸÑŸÜÿ≥ÿ®ÿ© ŸÑŸÑÿ™ÿßÿ±ŸäÿÆ '2023-10-05'ÿå ÿ≥ÿ™ÿπŸäÿØ ÿßŸÑÿØÿßŸÑÿ© '2023'

2024

In [ ]:
data_frame_covid['year_new'] = data_frame_covid['date'].apply(lambda x: x.split('-')[0])
data_frame_covid

,cases,country,continent,date,day,month,year,deaths,country_code,population,population_mln,year_new
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0,37.172386,2020
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0,2.866376,2020
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0,42.228429,2020
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0,0.077006,2020
4,0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0,30.809762,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
201,0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0,28.870195,2020
202,4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0,95.540395,2020
203,0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0,28.498687,2020
204,0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0,17.351822,2020
205,3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0,14.439018,2020

In [ ]:
data_frame_covid[["cases"]]   #to dispaly specific column, we use [[""]]

     cases
0       34
1       17
2       64
3       21
4        0
..     ...
201      0
202      4
203      0
204      0
205      3

[206 rows x 1 columns]

In [ ]:
type(data_frame_covid[["cases"]])        #the type is DataFrame

pandas.core.frame.DataFrame

In [ ]:
data_frame_covid["cases"]   #we can use only one [] if we need to display only one column, and the type will be series


# Series –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–π –º–∞—Å—Å–∏–≤
# DataFrame –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–π –∏ –¥–≤—É–º–µ—Ä–Ω—ã–π –º–∞—Å—Å–∏–≤

0      34
1      17
2      64
3      21
4       0
       ..
201     0
202     4
203     0
204     0
205     3
Name: cases, Length: 206, dtype: int64

In [ ]:
type(data_frame_covid["cases"])

pandas.core.series.Series

In [ ]:
data_frame_covid[["cases", "deaths"]]

     cases  deaths
0       34       3
1       17       0
2       64      19
3       21       2
4        0       0
..     ...     ...
201      0       0
202      4       0
203      0       0
204      0       0
205      3       0

[206 rows x 2 columns]

In [ ]:
data_frame_covid["cases", "deaths"]     #error, because two columns are data_frame(must be with [two]), not a series

KeyError: ('cases', 'deaths')

In [ ]:
# data_frame_covid[["cases", "deaths"]]

In [ ]:
data_frame_covid["cases_deaths_rate"] = data_frame_covid[["cases", "deaths"]].apply(lambda x: x["deaths"]/x["cases"] if x["deaths"] and x["cases"] else 0, axis=1)
data_frame_covid[["cases", "deaths"]].T.apply(lambda x: x["deaths"]/x["cases"] if x["deaths"] and x["cases"] else 0)

# https://chat.hix.ai/ar/share/cm0i79rsk117z6y4p4fpsvvt8

0      0.088235
1      0.000000
2      0.296875
3      0.095238
4      0.000000
         ...
201    0.000000
202    0.000000
203    0.000000
204    0.000000
205    0.000000
Length: 206, dtype: float64

In [ ]:
data_frame_covid["cases_deaths_rate"] = data_frame_covid[["cases", "deaths"]].apply(lambda x: x["deaths"]/x["cases"] if x["deaths"] and x["cases"] else 0) #error, because columns, should be rows
data_frame_covid[["cases", "deaths"]].T.apply(lambda x: x["deaths"]/x["cases"] if x["deaths"] and x["cases"] else 0)

# ÿÆÿ∑ÿ£ ŸÑÿ£ŸÜŸà ŸáŸäÿ¨Ÿä ŸäÿßÿÆÿ∞ ÿßÿπŸÖÿØŸá ŸÖŸà ÿµŸÅŸàŸÅ
# ÿ®ÿ¥ŸÉŸÑ ÿßŸÅÿ™ÿ±ÿßÿ∂Ÿäÿå ÿ™ÿπŸÖŸÑ .apply() ÿπŸÑŸâ ÿßŸÑÿ£ÿπŸÖÿØÿ© (axis=0)

KeyError: 'deaths'

In [ ]:
data_frame_covid[["cases", "deaths"]].T      #we added .T and conveted columns to rows, look at the result below ==> 2 rows*206 columns

# .T ==> https://chat.hix.ai/ar/share/cm0i5o4uo0z8yefd1pphbc2fp

,0,1,2,3,4,5,6,7,8,9,...,196,197,198,199,200,201,202,203,204,205
cases,34,17,64,21,0,0,0,162,30,6,...,0,1,28391,7,172,0,4,0,0,3
deaths,3,0,19,2,0,0,0,7,2,0,...,0,0,1831,0,1,0,0,0,0,0

In [ ]:
data_frame_covid[["cases", "deaths"]].T.apply(lambda x: x["deaths"]/x["cases"] if x["deaths"] and x["cases"] else 0)

0      0.088235
1      0.000000
2      0.296875
3      0.095238
4      0.000000
         ...
201    0.000000
202    0.000000
203    0.000000
204    0.000000
205    0.000000
Length: 206, dtype: float64

In [ ]:
# lambda
# ŸÖÿß ŸáŸäÿü
# lambda ŸáŸä ÿØÿßŸÑÿ© ŸÖÿ¨ŸáŸàŸÑÿ© ÿ£Ÿà ÿ∫Ÿäÿ± ŸÖÿ≥ŸÖÿßÿ© (anonymous function) ŸÅŸä ÿ®ÿßŸäÿ´ŸàŸÜ. ŸáŸä ÿ∑ÿ±ŸäŸÇÿ© ŸÖÿÆÿ™ÿµÿ±ÿ© ŸÑÿ•ŸÜÿ¥ÿßÿ° ÿØÿßŸÑÿ© ÿ®ÿØŸàŸÜ ÿßŸÑÿ≠ÿßÿ¨ÿ© ŸÑÿ™ÿ≥ŸÖŸäÿ™Ÿáÿß ÿ®ÿßÿ≥ÿ™ÿÆÿØÿßŸÖ ÿßŸÑŸÉŸÑŸÖÿ© ÿßŸÑŸÖŸÅÿ™ÿßÿ≠Ÿäÿ© def.
# ÿ™ŸÉŸàŸÜ ÿßŸÑÿØŸàÿßŸÑ ÿßŸÑŸÖÿ¨ŸáŸàŸÑÿ© ÿπÿßÿØÿ© ŸÇÿµŸäÿ±ÿ© ÿ¨ÿØŸãÿß Ÿàÿ™ÿ≠ÿ™ŸàŸä ÿπŸÑŸâ ÿ™ÿπÿ®Ÿäÿ± Ÿàÿßÿ≠ÿØ ŸÅŸÇÿ∑. ŸáŸä ŸÖŸÅŸäÿØÿ© ÿπŸÜÿØŸÖÿß ÿ™ÿ≠ÿ™ÿßÿ¨ ÿ•ŸÑŸâ ÿ•ŸÜÿ¥ÿßÿ° ÿØÿßŸÑÿ© ÿµÿ∫Ÿäÿ±ÿ© ŸÅŸä ŸÖŸÉÿßŸÜ Ÿàÿßÿ≠ÿØ ŸÑŸÑÿßÿ≥ÿ™ÿÆÿØÿßŸÖ ŸÑŸÖÿ±ÿ© Ÿàÿßÿ≠ÿØÿ©.

# ÿßŸÑÿµŸäÿ∫Ÿá
# lambda arguments: expression

# arguments: ŸáŸä ÿßŸÑŸÖÿ™ÿ∫Ÿäÿ±ÿßÿ™ ÿßŸÑŸÖÿØÿÆŸÑÿ© ŸÑŸÑÿØÿßŸÑÿ©.
# expression: ŸáŸà ÿßŸÑÿ™ÿπÿ®Ÿäÿ± (expression) ÿßŸÑÿ∞Ÿä ÿ≥Ÿäÿ™ŸÖ ÿ™ŸÜŸÅŸäÿ∞Ÿá ÿπŸÜÿØ ÿßÿ≥ÿ™ÿØÿπÿßÿ° ÿßŸÑÿØÿßŸÑÿ©.

f = lambda x: x * 2
print(f(5))  # Output: 10

* axis = 0 - —Å—Ç—Ä–æ–∫–∏
* axis = 1 - —Å—Ç–æ–ª–±—Ü—ã

In [ ]:
None / 0       #ÿÆÿ∑ÿ£ ŸÑÿßŸÜ ŸÖÿß ŸäÿµŸäÿ± ŸáŸäÿ¨Ÿä ÿπŸÖŸÑŸäŸá

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

In [ ]:
0 / None        #ŸÜŸÅÿ≥ ÿßŸÑÿ¥Ÿä ŸÖÿß ŸäÿµŸäÿ±

TypeError: unsupported operand type(s) for /: 'int' and 'NoneType'

In [ ]:
data_frame_covid["cases_deaths_rate"] = data_frame_covid[["cases", "deaths"]].apply(lambda x: x["deaths"]/x["cases"] if x["deaths"] and x["cases"] else 0, axis=1)
data_frame_covid #ÿ∑ŸÑÿπŸÜÿß ŸÜÿ≥ÿ®ÿ© ÿßŸÑÿ£ŸÖŸàÿßÿ™ ÿßŸÑŸâ ÿßŸÑÿ≠ÿßŸÑÿßÿ™

,cases,country,continent,date,day,month,year,deaths,country_code,population,population_mln,year_new,cases_deaths_rate
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0,37.172386,2020,0.088235
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0,2.866376,2020,0.000000
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0,42.228429,2020,0.296875
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0,0.077006,2020,0.095238
4,0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0,30.809762,2020,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0,28.870195,2020,0.000000
202,4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0,95.540395,2020,0.000000
203,0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0,28.498687,2020,0.000000
204,0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0,17.351822,2020,0.000000
205,3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0,14.439018,2020,0.000000

In [ ]:
# .sort_values()

In [ ]:
data_frame_covid.sort_values("cases_deaths_rate", ascending=False)     # ÿ™ÿµÿßÿπÿØŸä

,cases,country,continent,date,day,month,year,deaths,country_code,population,population_mln,year_new,cases_deaths_rate
88,1,Honduras,America,2020-04-12,12,4,2020,1,HND,9587522.0,9.587522,2020,1.000000
80,3,Guam,Oceania,2020-04-12,12,4,2020,1,GUM,165768.0,0.165768,2020,0.333333
117,3,Malawi,Africa,2020-04-12,12,4,2020,1,MWI,18143315.0,18.143315,2020,0.333333
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0,42.228429,2020,0.296875
64,4,Ethiopia,Africa,2020-04-12,12,4,2020,1,ETH,109224559.0,109.224559,2020,0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,3,Guinea_Bissau,Africa,2020-04-12,12,4,2020,0,GNB,1874309.0,1.874309,2020,0.000000
85,5,Guyana,America,2020-04-12,12,4,2020,0,GUY,779004.0,0.779004,2020,0.000000
86,2,Haiti,America,2020-04-12,12,4,2020,0,HTI,11123176.0,11.123176,2020,0.000000
87,0,Holy_See,Europe,2020-04-12,12,4,2020,0,VAT,1000.0,0.001000,2020,0.000000
205,3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0,14.439018,2020,0.000000

.drop()

In [ ]:
data_frame_covid.drop('cases_deaths_rate')       #error, because without axis=1 => drop needs axis

KeyError: "['cases_deaths_rate'] not found in axis"

In [ ]:
data_frame_covid = data_frame_covid.drop('cases_deaths_rate', axis=1)
data_frame_covid

,cases,country,continent,date,day,month,year,deaths,country_code,population,population_mln,year_new
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0,37.172386,2020
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0,2.866376,2020
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0,42.228429,2020
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0,0.077006,2020
4,0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0,30.809762,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
201,0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0,28.870195,2020
202,4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0,95.540395,2020
203,0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0,28.498687,2020
204,0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0,17.351822,2020
205,3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0,14.439018,2020

### –æ—Ü–µ–Ω–æ—á–Ω—ã–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ –Ω–∞–¥ –¥–∞—Ç–µ—Ñ—Ä–µ–π–º–æ–º
ÿπŸÖŸÑŸäÿßÿ™ ÿßŸÑÿ™ŸÇŸäŸäŸÖ ÿπŸÑŸâ ÿ•ÿ∑ÿßÿ± ÿ≤ŸÖŸÜŸä

In [ ]:
data_frame_covid.isna()   # https://chat.hix.ai/ar/share/cm0i9i2vr0q9q7jti20zq4ebp

#.isna() returned true if the values are NA and false if not NA.
# NA values, such as None or numpy.NaN. ==> like Null

# isna() —Å–æ–∑–¥–∞–µ—Ç DataFrame —Ç–æ–≥–æ –∂–µ —Ä–∞–∑–º–µ—Ä–∞, –≥–¥–µ –≤—Å–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (NaN) –∑–∞–º–µ–Ω–µ–Ω—ã –Ω–∞ True, –∞ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –Ω–∞ False.

,cases,country,continent,date,day,month,year,deaths,country_code,population,population_mln,year_new
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
201,False,False,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,False,False
205,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
data_frame_covid.isna().sum()

# sum() —Å–∫–ª–∞–¥—ã–≤–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è True (–∫–æ—Ç–æ—Ä—ã–µ Python —Å—á–∏—Ç–∞–µ—Ç –∑–∞ 1) –ø–æ –∫–∞–∂–¥–æ–º—É —Å—Ç–æ–ª–±—Ü—É, —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º –ø–æ–¥—Å—á–∏—Ç—ã–≤–∞—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ NaN –≤ –∫–∞–∂–¥–æ–º –∏–∑ –Ω–∏—Ö.
# look at the result and see the column country_code have 4 true values

cases             0
country           0
continent         0
date              0
day               0
month             0
year              0
deaths            0
country_code      4
population        4
population_mln    4
year_new          0
dtype: int64

In [ ]:
data_frame_covid['cases'].notna()       #.notna() returned true if the value is't NaN ... and it's DEEEEEEELETE them (NaN values)

0      True
1      True
2      True
3      True
4      True
       ...
201    True
202    True
203    True
204    True
205    True
Name: cases, Length: 206, dtype: bool

In [ ]:
data_frame_covid_dropna = data_frame_covid[data_frame_covid['cases'].notna()]

data_frame_covid_dropna = data_frame_covid_dropna[data_frame_covid_dropna['deaths'].notna()]

data_frame_covid_dropna = data_frame_covid_dropna[data_frame_covid_dropna['population'].notna()]

# explaining the code ==> https://chat.hix.ai/ar/share/cm0ia4izc12o3rqcx3a3hggkq
# examples ==> https://chat.hix.ai/ar/share/cm0iaovtz13ntsrrz3yss308v

In [ ]:
data_frame_covid_dropna

,cases,country,continent,date,day,month,year,deaths,country_code,population,population_mln,year_new
0,34,Afghanistan,Asia,2020-04-12,12,4,2020,3,AFG,37172386.0,37.172386,2020
1,17,Albania,Europe,2020-04-12,12,4,2020,0,ALB,2866376.0,2.866376,2020
2,64,Algeria,Africa,2020-04-12,12,4,2020,19,DZA,42228429.0,42.228429,2020
3,21,Andorra,Europe,2020-04-12,12,4,2020,2,AND,77006.0,0.077006,2020
4,0,Angola,Africa,2020-04-12,12,4,2020,0,AGO,30809762.0,30.809762,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
201,0,Venezuela,America,2020-04-12,12,4,2020,0,VEN,28870195.0,28.870195,2020
202,4,Vietnam,Asia,2020-04-12,12,4,2020,0,VNM,95540395.0,95.540395,2020
203,0,Yemen,Asia,2020-04-12,12,4,2020,0,YEM,28498687.0,28.498687,2020
204,0,Zambia,Africa,2020-04-12,12,4,2020,0,ZMB,17351822.0,17.351822,2020
205,3,Zimbabwe,Africa,2020-04-12,12,4,2020,0,ZWE,14439018.0,14.439018,2020

In [ ]:
data_frame_covid_dropna.isna().sum()

cases             0
country           0
continent         0
date              0
day               0
month             0
year              0
deaths            0
country_code      1
population        0
population_mln    0
year_new          0
dtype: int64

In [ ]:
data_frame_covid_dropna = data_frame_covid_dropna[data_frame_covid_dropna['country_code'].notna()]
data_frame_covid_dropna.isna().sum()

cases             0
country           0
continent         0
date              0
day               0
month             0
year              0
deaths            0
country_code      0
population        0
population_mln    0
year_new          0
dtype: int64

In [ ]:
data_frame_covid_dropna.groupby('continent')['cases'].sum()

# https://chat.hix.ai/ar/share/cm0ifbwm316awsrrznv26xlrv
# https://chat.hix.ai/ar/share/cm0ifcilo16c23g5oqb1vh8x3

continent
Africa       714
America    33519
Asia       12979
Europe     34141
Oceania       68
Name: cases, dtype: int64

In [ ]:
data_frame_covid_dropna.groupby('continent')['cases'].sum().reset_index()    #with index

  continent  cases
0    Africa    714
1   America  33519
2      Asia  12979
3    Europe  34141
4   Oceania     68

In [ ]:
data_frame_covid_dropna.groupby('continent').agg({'cases': 'sum'})     # the same as last code, but using agg
                                                                       # https://chat.hix.ai/ar/share/cm0ifqcxg159kefd17uzarnoj

# data_frame_covid_dropna.groupby('continent').agg({'cases': 'sum'}).reset_index()    #with index

           cases
continent
Africa       714
America    33519
Asia       12979
Europe     34141
Oceania       68

In [ ]:
data_frame_covid_dropna.groupby('continent')[['cases','deaths']].sum()

           cases  deaths
continent
Africa       714      52
America    33519    2111
Asia       12979     383
Europe     34141    3571
Oceania       68       4

In [ ]:
data_frame_covid_dropna.groupby('continent').agg({'cases':'sum', 'deaths':'sum'})

           cases  deaths
continent
Africa       714      52
America    33519    2111
Asia       12979     383
Europe     34141    3571
Oceania       68       4

In [ ]:
import numpy as np

In [ ]:
np.mean(data_frame_covid_dropna["cases"])   #–°—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ

405.07960199004975

### aggregate operations

In [ ]:
data_frame_covid.agg(maximal_cases=('cases', max))  # https://chat.hix.ai/ar/share/cm0ihqmlh00f3kqh52r6na8fu

<ipython-input-115-a2a2eb5978a5>:1: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data_frame_covid.agg(maximal_cases=('cases', max))

               cases
maximal_cases  28391

In [ ]:
data_frame_covid_dropna.agg({'cases': 'max'})

cases    28391
dtype: int64

In [ ]:
data_frame_covid.agg(minimal_cases=('cases', min), maximal_cases=('cases', max))

<ipython-input-117-7f3c31b99320>:1: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  data_frame_covid.agg(minimal_cases=('cases', min), maximal_cases=('cases', max))
<ipython-input-117-7f3c31b99320>:1: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data_frame_covid.agg(minimal_cases=('cases', min), maximal_cases=('cases', max))

               cases
minimal_cases      0
maximal_cases  28391

In [ ]:
data_frame_covid.agg(cases_sum=('cases', sum))

<ipython-input-118-078f77ba74d3>:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_frame_covid.agg(cases_sum=('cases', sum))

           cases
cases_sum  81421

In [ ]:
data_frame_covid.agg(cases_sum=('cases', lambda x: sum(x)))

           cases
cases_sum  81421

In [ ]:
data_frame_covid.agg(cases_x_2=('cases', lambda x: sum(x*2) ))

            cases
cases_x_2  162842

In [ ]:
data_frame_covid.describe()   # https://chat.hix.ai/ar/share/cm0ihviau16irefd1nm164qdu

,cases,day,month,year,deaths,population,population_mln
count,206.000000,206.000000,206.000000,206.0,206.000000,2.020000e+02,202.000000
mean,395.247573,12.024272,3.985437,2020.0,29.713592,3.731716e+07,37.317164
std,2160.176439,0.424141,0.209020,0.0,159.533131,1.413776e+08,141.377565
min,0.000000,11.000000,1.000000,2020.0,0.000000,1.000000e+03,0.001000
25%,0.000000,12.000000,4.000000,2020.0,0.000000,1.278222e+06,1.278223
50%,11.500000,12.000000,4.000000,2020.0,0.000000,7.042862e+06,7.042861
75%,88.750000,12.000000,4.000000,2020.0,3.000000,2.600084e+07,26.000835
max,28391.000000,18.000000,4.000000,2020.0,1831.000000,1.392730e+09,1392.730000

In [ ]:
data_frame_covid.describe(include='object')

            country continent        date country_code year_new
count           206       206         206          202      206
unique          206         6           3          202        1
top     Afghanistan    Europe  2020-04-12          AFG     2020
freq              1        54         204            1      206

# Summary

Numpy —ç—Ç–æ –æ—Å–Ω–æ–≤–æ–ø–æ–ª–∞–≥–∞—é—â–∞—è –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –Ω–∞ python. –û–Ω–∞ –∏–º–µ–µ—Ç —Å–≤–æ–∏ –ø—Ä–µ–∏–º—É—â–µ—Å—Ç–≤–∞ –∏ —Å–≤–æ–∏ –Ω–µ–¥–æ—Å—Ç–∞—Ç–∫–∏ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–π —Ä–µ–∞–ª–∏–∑–∞—Ü–∏–∏ —Å–ø–∏—Å–∫–æ–≤ –≤ cpython. –î–ª—è numpy —Ä–µ–∞–ª–∏–∑–æ–≤–∞–Ω—ã –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –º–µ—Ç–æ–¥—ã –ª–∏–Ω–µ–π–Ω–Ω–æ–π –∞–ª–≥–µ–±—Ä—ã –∏ –æ–±—Ä–∞–æ—Ç–∫–∏ —Å–∏–≥–Ω–∞–ª–æ–≤, –∞ –≤ scipy, –æ—Å–Ω–æ–≤–∞–Ω–Ω–æ–π –Ω–∞ numpy —Ä–µ–∞–ª–∏–∑–æ–≤–∞–Ω—ã –µ—â–µ –∏ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –∞–ª–≥–æ—Ä–∏—Ç–º—ã –ø–æ –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏ –∏ —Ä–µ—à–µ–Ω–∏—é –¥–∏—Ñ—É—Ä–æ–≤.
–ü—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –ø—Ä—è–º–æ—É–≥–æ–ª—å–Ω—ã–º–∏ –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–º–∏ —Ç–∞–±–ª–∏—Ü–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–∏–º –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–º –º–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å pandas. Pandas –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π –±–∏–±–ª–∏–æ—Ç–µ–∫—É –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω–Ω—É—é –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤ - –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã—Ö –ø—Ä—è–º–æ—É–≥–æ–ª—å–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü. –≠—Ç–∏ —Ç–∞–±–ª–∏—Ü—ã —Å–æ—Å—Ç–æ—è—Ç –∏–∑ —Å–µ—Ä–∏–π –¥–∞–Ω–Ω—ã—Ö, –∫–æ–ª–æ–Ω–æ–∫ –∏ –∏–Ω–¥–µ–∫—Å–æ–≤. –ü–æ—Å–ª–µ–¥–Ω–∏–µ –ø–æ–º–æ–≥–∞—é—Ç –Ω–∞—Ö–æ–¥–∏—Ç—å —Å—Ç—Ä–æ–∫–∏ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ. –û—Å–Ω–æ–≤–Ω—ã–º–∏ –≤–∞—Ä–∏–∞–Ω—Ç–∞–º–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è pandas —è–≤–ª—è—é—Ç—Å—è –æ–±—Ä–∞–±–æ—Ç–∫–∞, —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è, —Ç—Ä—Ñ–Ω—Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –∏ –æ—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö. –í –æ—Ç–¥–µ–ª—å–Ω—ã—Ö —Å–ª—É—á–∞—è—Ö –≤–æ–∑–º–æ–∂–Ω–∞ —Ä–∞–±–æ—Ç–∞ —Å –≥–µ–æ–ø—Ä–æ—Å—Ç—Ä–∞–Ω—Å—Ç–≤–µ–Ω–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ —á–µ—Ä–µ–∑ –¥–æ–ø–æ–ª–Ω–µ–Ω–∏–µ geopandas, –æ–¥–Ω–∞–∫–æ –≥–µ–æ–ø—Ä–æ—Å—Ç—Ä–∞–Ω—Å—Ç–≤–µ–Ω–Ω—ã–µ —Ç–µ—Ä–º–∏–Ω—ã –∏ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Å–∫–æ—Ä–µ–µ —è–≤–ª—è—é—Ç—Å—è –æ—Ç–¥–µ–ª—å–Ω–æ–π —Ç–µ–º–æ–π –¥–ª—è –ª–µ–∫—Ü–∏–∏.

# –í–æ–ø—Ä–æ—Å—ã –¥–ª—è —Å–∞–º–æ–∫–æ–Ω—Ç—Ä–æ–ª—è

- –∫–∞–∫–∏–µ –∑–∞–¥–∞—á–∏ –≤—ã –±—ã –≤—ã–ø–æ–ª–Ω—è–ª–∏ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º numpy?
- —á—Ç–æ —Ç–∞–∫–æ–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º?
- –≤ —á–µ–º –æ—Ç–ª–∏—á–∏–µ dataframe –∏ series?
- –∫–∞–∫ –±—ã –≤—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª–∏ –∏–Ω–¥–µ–∫—Å –≤ pandas?

In [ ]:
# https://chat.hix.ai/ar/share/cm0ihwc5f16jrefd1ovb3lfex

## –î–ó

1. –ó–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏ –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫ DataFrame - —Å—Å—ã–ª–∫–∞ - https://raw.githubusercontent.com/DataRepo2019/Data-files/master/subset-covid-data.csv.

2. –û—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ —Å—Ç—Ä–æ–∫–∏ DataFrame, –≥–¥–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–ª—É—á–∞–µ–≤ –±–æ–ª—å—à–µ 50.

3. –ü–æ–¥—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–ª—É—á–∞–µ–≤ –∏ —Å–º–µ—Ä—Ç–µ–π –ø–æ –∫–∞–∂–¥–æ–º—É –∫–æ–Ω—Ç–∏–Ω–µ–Ω—Ç—É.

4. –°–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–ª—É—á–∞–µ–≤ –Ω–∞ –º–∏–ª–ª–∏–æ–Ω —á–µ–ª–æ–≤–µ–∫.

5. –ó–∞–º–µ–Ω–∏—Ç–µ –≤—Å–µ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ `cases` –Ω–∞ 0.

6. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ DataFrame –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å–ª—É—á–∞–µ–≤ –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è.

7. –í—ã–±–µ—Ä–∏—Ç–µ —Ç–æ–ª—å–∫–æ —Å—Ç–æ–ª–±—Ü—ã `country`, `cases` –∏ `deaths`.

8. –°–¥–µ–ª–∞–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü country_code –∏–Ω–¥–µ–∫—Å–æ–º DataFrame

**–§–û–†–ú–ê–¢ –°–î–ê–ß–ò:** —Å—Å—ã–ª–∫–∞ –Ω–∞ –∫–æ–ª–∞–± + —Ñ–∞–π–ª —Å —Ä–∞—Å—à–∏—Ä–µ–Ω–∏–µ–º ipynb

#  –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–∞—è –ª–∏—Ç–µ—Ä–∞—Ç—É—Ä–∞

- "Numerical python. A Practical Techniques Approach for Industry" - Robert Johansson
- "Pandas Basics" - Oswald Campesato - –≥–ª. 4-6
- "Learning Pandas" - Matthew Rosch
- "–ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ data Science" - –≠.–ë—Ä—é—Å, –ü.–ë—Ä—é—Å, –ü.–ì–µ–¥–µ–∫